body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  /* border: 1px solid;
  border-radius: 30px; */
  margin: 0;
  padding: 0 20px;
  width: 60%;
  height: 400px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20vh;
  /* overflow: hidden; */
}

#first {
  /* margin-left: -20px; */
  background-color: rgb(94, 190, 94);
  margin: 0;
  width: 55%;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  line-height: 20px;
  border: 2px solid black;
  border-left: 2px solid black;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.first {
  padding: 0;
  margin: 0;
}
#second {
  background-color: rgb(120, 120, 213);
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  color: white;
  line-height: 20px;
  padding-bottom: 20px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  font-weight: bold;
}
.second {
  padding: 0;
  margin: 0;
}
#last {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  justify-content: center;
  width: 30%;
  border: 2px solid black;
  border-right: 2px solid black;
  border-left-style: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.last {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.part1 {
  background-color: rgb(207, 207, 162);
  /* width: 50%; */
  height: 60%;
  width: 100%;
}
.part2 {
  background-color: rgb(211, 211, 115);
  height: 50%;
  width: 100%;
}
.part3 {
  background-color: rgb(161, 161, 16);
  height: 50%;
  width: 100%;
}
